<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    FAKTURE
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <button type="button" class="btn btn-success">
            Dodaj novu fakturu
          </button> &nbsp;

        </a><a class="text-success" (click)="finish()">
          <button type="button" class="btn btn-primary" [disabled]="!personList.length">
            Zaključi fakturu
          </button>
        </a>
      </span>
      <table
        class="table table-bordered table-responsive-md table-striped text-center"
      >
        <tr>
          <th class="text-center">Broj</th>
          <th class="text-center">Datum</th>
          <th class="text-center">Partner</th>
          <th class="text-center">Kolicina</th>
          <th class="text-center">Cijena</th>
          <th class="text-center">IznosBezPdv</th>
          <th class="text-center">PostoRabata</th>
          <th class="text-center">Rabat</th>
          <th class="text-center">IznosSaRabatomBezPdv</th>
          <th class="text-center">Pdv</th>
          <th class="text-center">Ukupno</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span
              (keyup)="changeValue(id, 'broj', $event)"
              (blur)="updateList(id, 'broj', $event)"
              contenteditable="false"
              >{{ person.broj }}</span
            >
          </td>



          <td>
            <span
              contenteditable="true"
              (keyup)="changeValue(id, 'datum', $event)"
              (blur)="updateList(id, 'datum', $event)"
              >{{ person.datum }}</span
            >
          </td>
          <td>
            <span
              contenteditable="true"
              (keyup)="changeValue(id, 'partner', $event)"
              (blur)="updateList(id, 'partner', $event)"
              >{{ person.partner }}</span
            >
          </td>

          <td>
            <span
              contenteditable="true"
              (keyup)="changeValue(id, 'kolicina', $event)"
              (blur)="updateList(id, 'kolicina', $event)"
              >{{ person.kolicina }}</span
            >
          </td>

          <td>
            <span
              contenteditable="true"
              (keyup)="changeValue(id, 'cijena', $event)"
              (blur)="updateList(id, 'cijena', $event)"
              >{{ person.cijena }}</span
            >
          </td>

          <td>
            <span
              contenteditable="false"
              (keyup)="changeValue(id, 'iznosBezPdv', $event)"
              (blur)="updateList(id, 'iznosBezPdv', $event)"
              >{{ person.iznosBezPdv }}</span
            >
          </td>
          <td>
            <span
              contenteditable="true"
              (keyup)="changeValue(id, 'postoRabata', $event)"
              (blur)="updateList(id, 'postoRabata', $event)"
              >{{ person.postoRabata }}</span
            >
          </td>
          <td>
            <span
              contenteditable="false"
              (keyup)="changeValue(id, 'rabat', $event)"
              (blur)="updateList(id, 'rabat', $event)"
              >{{ person.rabat }}</span
            >
          </td>
          <td>
            <span
              contenteditable="false"
              (keyup)="changeValue(id, 'iznosSaRabatomBezPdv', $event)"
              (blur)="updateList(id, 'iznosSaRabatomBezPdv', $event)"
              >{{ person.iznosSaRabatomBezPdv }}</span
            >
          </td>
          <td>
            <span
              contenteditable="false"
              (keyup)="changeValue(id, 'pdv', $event)"
              (blur)="updateList(id, 'pdv', $event)"
              >{{ person.pdv }}</span
            >
          </td>

          <td>
            <span
              contenteditable="false"
              (keyup)="changeValue(id, 'ukupno', $event)"
              (blur)="updateList(id, 'ukupno', $event)"
              >{{ person.ukupno }}</span
            >
          </td>

          <td>
            <span class="table-remove">
              <button type="button" class="btn btn-danger" (click)="remove(person.id)">
                Remove
              </button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
