<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    FAKTURE
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <button type="button" class="btn btn-success">Dodaj novu fakturu</button>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Broj</th>
          <th class="text-center">Datum</th>
          <th class="text-center">Partner</th>
          <th class="text-center">IznosBezPdv</th>
          <th class="text-center">PostoRabata</th>
          <th class="text-center">Rabat</th>
          <th class="text-center">IznosSaRabatomBezPdv</th>
          <th class="text-center">Pdv</th>
          <th class="text-center">Ukupno</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'Broj', $event)" (blur)="updateList(id, 'Broj', $event)"
              contenteditable="true">{{ person.Broj }}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'Datum', $event)"
              (blur)="updateList(id, 'Datum', $event)">{{ person.Datum }}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'IznosBezPdv', $event)"
              (blur)="updateList(id, 'IznosBezPdv', $event)">{{ person.IznosBezPdv }}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'PostoRabata', $event)"
              (blur)="updateList(id, 'PostoRabata', $event)">{{ person.PostoRabata }}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'Rabat', $event)"
              (blur)="updateList(id, 'Rabat', $event)">{{ person.Rabat }}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'IznosSaRabatomBezPdv', $event)"
              (blur)="updateList(id, 'IznosSaRabatomBezPdv', $event)">{{ person.IznosSaRabatomBezPdv }}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'Pdv', $event)"
              (blur)="updateList(id, 'Pdv', $event)">{{ person.Pdv }}</span>
          </td>

          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'Ukupno', $event)"
              (blur)="updateList(id, 'Ukupno', $event)">{{ person.Ukupno }}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'Remove', $event)"
              (blur)="updateList(id, 'Remove', $event)">{{ person.Remove }}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" class="btn btn-danger" (click)="remove(id)">
                Remove
              </button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
